@font-face {
    font-family: "Univers";
    src: url("../pages/assest/Univers-Font/UniversBlack.ttf");
    src: url("../pages/assest/Univers-Font/UniversBlack.ttf")
      format("truetype");
  }

.table {
    margin-top: 50px;
    font-family: Univers;
    border-collapse: collapse;
    width: 100%;
    border-radius: 0.5%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.466);
}

.table td, .table th {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5%;
    padding: 5px;
}

.table tr:nth-child(even)
{background-color: rgba(255, 255, 255, 0.438);}

.table tr:hover {background-color: rgba(255, 255, 0, 0.589);}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    background-color: teal;
    color: rgb(255, 255, 255);
}

